@import '~bootstrap/scss/bootstrap';

$alt-color: $cyan;
$body-bg-color: #ffce7c;
$font-color: #000;
$header-text-color: #fff;
$game-color: #8c7cff;
$hover-color: #7ba6ed;
$user-controls: #ff8c7c;
$warning: #f00;
$success: #3f843c;

body {
  background-color: $body-bg-color;
}

h1 {
  align-items: center;
  display: flex;
  text-decoration: underline;
}

h4 {
  width: 10rem;
}

h6 {
  color: $game-color;
}

header {
  background-color: $font-color;
  color: $header-text-color;
  padding: 1rem;
}

main {
  display: flex;
  min-height: 100vh;
}

table,
td {
  background-color: $game-color;
  border: 1px solid $white;
  color: $font-color;
  height: 50px;
  padding: 10px;
  table-layout: fixed;
  text-align: center;
  width: 100px;
}

section {
  padding: 1rem;
}


.alt-color {
  background-color: $alt-color;
}

.box {
  align-items: center;
  background-color: $game-color;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  font-size: 5vw;
  height: 80px;
  justify-content: center;

  &:hover {
    background-color: $hover-color;
    cursor: pointer;
  }
}

.games {
  width: 30rem;
}


.hidden {
  display: none;
}

.modal-body,
.modal-title {
  color: $font-color;
}

.new-button {
  width: 20rem;
}

.sign-up {
  display: flex;
  flex-direction: column;
}

.success {
  color: $success;
}

.user-controls {
  background-color: $user-controls;
  border-right: 1px solid $font-color;
  width: 30%;

}

.warning {
  color: $warning;
}

.win {
  background-color: $success;
}
