@import '~bootstrap/scss/bootstrap';

$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;

body {
  background-color: $body-bg-color;
}

h4 {
  display: flex;
  justify-content: center;
  width: 40rem;
}

header {
  background-color: #222;
  color: #fff;
  padding: 1rem;
}

main {
  display: flex;
  min-height: 100vh
}

section {
  padding: 1rem;
}


.alt-color {
  background-color: $alt-color;
}

.box {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 80px;
  justify-content: center;
  &:hover {
    background-color: #7ba6ed;
    cursor: pointer;

  }
}
.sign-up {
  display: flex;
  flex-direction: column;
}

.game {
  display: flex;
  width: 10rem;
}

.hidden {
  display: none;
}

.new-game {
  display: flex;
  justify-content: center;
  width: 40rem;
}

.success {
  color: #10a50b;
}

.user-controls {
  width: 30%;
  background-color: #c7d6ca;
}

.warning {
  color: #F00;
}

.win{
  background-color: green;
}
