@import '~bootstrap/scss/bootstrap';

$alt-color: $cyan;
$body-bg-color: #ffce7c;
$font-color: #000;
$header-text-color: #fff;

body {
  background-color: $body-bg-color;
}

h1 {
  align-items: center;
  display: flex;
  text-decoration: underline;
}

h4 {
  width: 10rem;
}

h6 {
  color: #8c7cff;
}

header {
  background-color: #222;
  color: $header-text-color;
  padding: 1rem;
}

main {
  display: flex;
  min-height: 100vh;
}

table,
td {
  background-color: #8c7cff;
  border: 1px solid $white;
  color: $font-color;
  padding: 10px;
  text-align: center;
  table-layout: fixed;
  height: 50px;
  width: 100px;
}

section {
  padding: 1rem;
}


.alt-color {
  background-color: $alt-color;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  background-color: #8c7cff;
  border: 1px solid $white;
  color: $font-color;
  height: 80px;
  &:hover {
    background-color: #7ba6ed;
    cursor: pointer;
  }
}

.games {
  width: 30rem;
}


.hidden {
  display: none;
}

.modal-body,
.modal-title {
  color: black;
}

.new-button {
  width: 20rem;
}

.sign-up {
  display: flex;
  flex-direction: column;
}

.success {
  color: #10a50b;
}

.user-controls {
  background-color: #ff8c7c;
  width: 20vh;
  border-right: 1px solid black;
}

.warning {
  color: #F00;
}

.win {
  background-color: green;
}
